!!!
%html
  = render 'partials/head'
  %body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      %header.main-header
        = link_to root_path, class: 'logo' do
          %span.logo-mini
            %b T
            P
          %span.logo-lg
            %b> Testing
            Project

        %nav.navbar.navbar-static-top

      %aside.main-sidebar
        %section.sidebar
          %ul.sidebar-menu{ 'data-widget': 'tree' }
            %li
              %a{ href: '#' }
                %i.fa.fa-circle-o.text-red
                %span Clientes

            %li
              %a{ href: '#' }
                %i.fa.fa-circle-o.text-yellow
                %span Warning

            %li
              %a{ href: '#' }
                %i.fa.fa-circle-o.text-aqua
                %span Information

      .content-wrapper
        %section.content
          = yield
